.transaction-table {
  margin-inline: 1rem;
  margin-block: 1.4rem;
  border-radius: 15px;
  box-shadow:
    0px 0px 25px 0px rgba(0, 0, 0, 0.04),
    0px 4px 12px 0px rgba(0, 0, 0, 0.02);
  background-color: rgb(255, 255, 255);
}

h2 {
  font-size: 1.5rem;
}
.table-top {
  display: flex;
  justify-content: space-around;
  padding: 1rem 1.3rem;
  align-items: center;
}
.icons {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;

  i {
    color: #1a1d1f;
    padding: 0.5rem;
    border: 1px solid #c0bebe;
    border-radius: 5px;
  }
}
.table-wrapper {
  overflow-x: scroll;
}
th:nth-child(1) {
  padding-right: 50px;
}
th,
td {
  padding-block: 1em;
  font-weight: 400;
  color: #747781;
  font-size: 0.95rem;
  padding-inline: 1.6rem;
}
th {
  border-block: 0.8px solid rgba(157, 158, 160, 0.1);
}
td {
  color: #1a1d1f;
}
.credit-amount {
  color: green;
}
.credit,
.debit {
  font-size: 0.84rem;
  background-color: #e9eaee;
  border-radius: 15px;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  text-align: center;
}
.credit {
  color: green;
  background-color: #d2e9cc;
}

.table-bottom {
  color: #011fca;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  padding-block: 1rem;
}
.table-bottom {
  border-top: 0.8px solid rgba(157, 158, 160, 0.1);
  display: flex;
  justify-content: center;
}
.date {
  line-height: 1.7;
  padding-right: 0;
  min-width: 10rem;
  span {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .table-top {
    justify-content: space-between;
  }
  td,
  .date {
    padding-inline: 5rem;
  }
  td:nth-child(1) {
    padding-right: 2rem;
    padding-left: 1.5rem;
  }
  th:nth-child(1) {
    padding-right: 5rem;
    padding-left: 2rem;
  }
  .icons {
    padding-left: 2rem;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .table-top {
    justify-content: center;
    gap: 20rem;
  }
  .table-wrapper {
    display: flex;
    justify-content: center;
  }
  td:nth-child(1),
  th:nth-child(1) {
    padding-inline: 5rem;
  }
}
