.balance-card {
  background-color: rgb(255, 255, 255);
  margin-inline: 1rem;
  margin-block: 1.4rem;
  border-radius: 15px;
  box-shadow:
    0px 0px 25px 0px rgba(0, 0, 0, 0.04),
    0px 4px 12px 0px rgba(0, 0, 0, 0.02);
  padding: 1.5rem;
}

.balance-card .card-header {
  color: #414755;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: space-between;
}

.badge {
  background-color: rgb(211, 236, 250);
  border-radius: 15px;
  padding: 0.2rem 0.4rem;
  color: rgb(8, 95, 167);
}

.amount {
  color: #181b24;
  font-size: 2.8rem;
  padding-block: 0.5rem 1.5rem;
  margin-bottom: 1.3rem;
  border-bottom: 1px solid rgba(129, 129, 129, 0.1);
}

.amount span {
  color: #414755;
  font-size: 1.7rem;
}

.details p {
  margin-block: 0.5rem 0.9rem;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
.details label {
  font-weight: 700;
}
