@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

.fa-regular {
  color: #005bcb;
  font-size: 1.95rem;
}
.header {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(157, 158, 160, 0.1);
}
h1 {
  font-size: 1.7rem;
}
@media (min-width: 1024px) {
  .header {
    display: none;
  }
}
